body {
    background-color: lightblue;	
}

h1 {
	text-align:center;
    color: purple;
    margin-left: 20px;	
}

hr.top {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid black;
    margin: 0;
    padding: 0;
}

div.vertical_line {
	position: absolute;
    height:100%; 
    width:2px;
	margin-left: 200px;
	margin-top: -1px;
	color: solid black;
    background:#000;
}

button.take_me_home_button {
	position: absolute;
    left: 5px;
    top: 5px;
	background-color: yellow;
	width: 200px;
	height: 50px;
}

button.side_projects_button {
	position: absolute;
    left: 205px;
    top: 5px;
	background-color: yellow;
	width: 200px;
	height: 50px;
}